{
  "extends": [
    "react-app",
    "airbnb-typescript",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
  }
}